@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url(style/reset.css);
@import url(style/contatos.css);
@import url(style/header_index.css);
@import url(style/login.css);
@import url(style/main_index.css);
@import url(style/sobre.css);
@import url(style/termos.css);
@import url(style/rodape.css);
@import url(style/modais_index.css);

:root{ 
    --cor-background: #B10035;
    --rosa-escuro: #590020;
    --rosa-escuro2: #3d0218;
    --rosa-queimado: #EF8F8F;
    --rosa-queimado-claro: #F69D9D;
    --rosa-claro: #FFDADA;
    --branco: #FAFAFA;
    --cinza-claro: #D9D9D9;
    --cinza-escuro: #323232;
    --cinza-fonte: #8E8E8E;
    --fonte: "Outfit", sans-serif;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--cor-background);
    font-family: var(--fonte);
    position: relative;
}

::-webkit-scrollbar {
    background-color: var(--rosa-queimado);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--rosa-escuro);
    border-radius: 8px;
}

.displayNone {
    display: none;
}